{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock head %}
{% block main %}
<div class="is-center">
    <h1>{{title}}</h1>
</div>
{% for category in categories %}
<div class="is-center">
    <h4><i class="{{category.icon}}"></i> {{category.name}}</h4>
</div>
<div class="row">
    {% for app in category.apps %}
    <div class="col">
        {% if app.new_tab %}
        <a href="{{app.url}}" target="_blank">
        {% else %}
        <a href="{{app.url}}">
        {% endif %}
            <summary><i class="{{app.icon}}"></i> {{app.name}}</summary>
            <p>{{app.description}}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock main %}

